---
import type {Navigation, NavigationItem} from '../base/interfaces';
import Anchor from './Anchor.astro';

const {navigationItems, type} = Astro.props as Navigation;
const component = 'Navigation';
---

<nav class={`${component} ${component}--${type}`}>
  {
    navigationItems.map(
      (navigationItem: NavigationItem) =>
        navigationItem.type === type && (
          <Anchor
            label={navigationItem.label}
            path={navigationItem.link.path}
            icon={navigationItem.icon}
          />
        )
    )
  }
</nav>

<style lang="scss">
  @use '../styles/mixins/breakpoints' as *;

  .Navigation {
    display: flex;
    justify-content: space-evenly;

    &--Secondary {
      padding-bottom: 0.8rem;
    }

    @include from('large') {
      &--Secondary {
        padding-bottom: 0;
      }
    }
  }
</style>
